
module neutron-dhcp-tuntap 1.0;

require {
	type user_tmp_t;
	type neutron_t;
	type sysfs_t;
	type unconfined_service_t;
	class process { execmem signull };
	class file { create open unlink };
	class filesystem getattr;
}

#============= neutron_t ==============
allow neutron_t self:process execmem;
allow neutron_t sysfs_t:filesystem getattr;
allow neutron_t unconfined_service_t:process signull;
allow neutron_t user_tmp_t:file { create open unlink };
